* {
	/* nullázzuk az alapértelmezett értékeket */
	margin: 0;
	padding: 0;
}

form {
	/* Középre igazított űrlap */
	width: 300px;
	margin: 0 auto;
}

label {
	display: block;
	width: 100px;
	float: left;
	
	margin-top: 10px;
	
	/* Szöveg igazítása */
	text-align: right;
	
	
	/* Mindig a balra lebegtetett tartalom alá kerül */
	clear: left;
}

input,
select {
	float: left;
	display: block;
	margin-left: 10px;
	
	margin-top: 10px;
}

/* csak a submit gombra */
input[type="submit"] {
	float: none;
	
	/* 10px alsó felső szegély + középre igazított */
	margin: 20px auto;
	/* Mindig a lebegtetett tartalom alá kerül */
	clear: both;
}