<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>TodoList</h1>
        <form method="post" th:action="@{/auth/login}"
              th:object="${loginUser}">
            <input type="text" 
                   th:field="${loginUser.username}" />
            <input type="password" 
                   th:field="${loginUser.password}" />
            <input type="submit" />
        </form>
    </body>
</html>
