<div class="row">
    <form class="col s4 offset-s4">
      <h3 class="red-text text-lighten-2">Belejentkezés</h3>
      <div class="row">
        <div class="input-field col s12">
          <input #email type="email" [ngClass]="error ? 'error' : ''" placeholder="E-mail cím">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input #password type="password" [ngClass]="error ? 'error' : ''" placeholder="Jelszó">
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <input type="button" value="Bejelentkezés" class="btn"
                 (click)="tryLogin(email.value, password.value)">
        </div>
      </div>
    </form>
  </div>