<div class="row">
    <form class="col s4 offset-s4">
      <h3 class="red-text text-lighten-2">Belejentkezés</h3>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" placeholder="E-mail cím">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" placeholder="Jelszó">
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <input type="button" value="Bejelentkezés" class="btn">
        </div>
      </div>
    </form>
  </div>