<a class="btn-flat right" routerLink="/">Vissza a lista nézetbe</a>
<div *ngIf="todo">
    <h2 class="red-text text-lighten-2">Todo №{{todo.id}}</h2>
    <p><strong>Leírás: </strong> {{todo.text}}</p>
    <p><strong>Felelős:</strong> {{todo.user.name}}</p>
</div>
<div *ngIf="!todo">
    <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>