$navbar-height: 48px;
$primary-color: hsl(226, 60%, 25%);
$background-color: hsl(0, 0%, 100%);
$text-color: hsl(226, 60%, 5%);
$highlight-color: hsla(0, 0, 100%, 0.1);

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  color: $background-color;
  background: $primary-color;
  height: $navbar-height;

  a {
    color: $background-color;
    display: inline-block;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;

    &:hover {
      background: $highlight-color;
    }
  }
}

#menu {
  background: $primary-color;
  bottom: 0;
  display: none;
  left: 0;
  margin: 0;
  min-width: 200px;
  padding: 0;
  position: fixed;
  top: $navbar-height;
  width: 50%;

  &.open {
    display: block;
  }

  li {
    display: block;
    list-style: none;

    a {
      display: block;
    }
  }

  @media screen and (min-width: 400px) {
    display: inline-block;
    position: static;
    margin-top: 3px;
    width: 100%;

    li {
      display: inline-block;

      &:first-of-type {
        margin-left: 5px;
      }
    }
  }
}

#menu-toggle {
  background: none;
  border: none;
  color: $background-color;
  font-weight: bold;
  height: 35px;
  margin: 5px;
  width: 35px;

  @media screen and (min-width: 400px) {
    display: none;
  }
}

main {
  padding: 10px 15px;

  h1 {
    margin: 0 0 15px 0;
    font-size: 24px;
  }
}
