* {
	/* nullázzuk az alapértelmezett értékeket */
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
}

header {
	height: 40px;
	
	background: yellow;
}

main {
	/* fix szelesség */
	width: 500px;
	
	/* csak a szemléltetés kedvéért adunk magasságot a tartalomnak */
	height: 200px;
	
	margin-left: auto;
	margin-right: auto;
	
	background: red;
}

footer {
	/* 100px-es lábléc */
	height: 100px;
	
	background: cyan;
}