<a class="btn-flat right" routerLink="/users">Vissza a lista nézetbe</a>
<div *ngIf="user">
    <h2 class="red-text text-lighten-2">{{user.name}}</h2>
    <p>ID: {{user.id}}</p>
    <p>Email: {{user.email}}</p>
    <h3>Feldatok</h3>
    <div *ngFor="let todo of user.todos">
      {{todo.text}}
    </div>
</div>
<div *ngIf="!user">
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>