<div *ngIf="users">
  <h2 class="red-text text-lighten-2">Users</h2>
  <table class="striped highlight">
    <thead>
      <th>Azonosító</th>
      <th>Név</th>
      <th>E-mail cím</th>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <th>{{user.id}}</th>
      <th><a routerLink="/user/{{user.id}}">{{user.name}}</a></th>
      <td>{{user.email}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!users">
    <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
