<div *ngIf="users">
  <h2 class="red-text text-lighten-2">Users</h2>
  <div class="collection">
    <a *ngFor="let user of users" routerLink="/user/{{user.id}}" class="collection-item">
      {{user.name}} ({{user.email}})
    </a>
  </div>
</div>
<div *ngIf="!users">
    <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
