<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My App</title>
		<link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">
		<script src="/public/jquery.min.js"></script>
	</head>
	<body>
		{{>menu}}
		<div class="container">
			{{>messages}}
			{{{body}}}
		</div>
		
		<script src="/public/script.js"></script>
	</body>
</html>