<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My App</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <h1>How to use</h1>
        <p>
            This is an app that displays messages of users.
        </p>
        <a href="/all">All messages</a>
    </body>
</html>