<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Hibabejelentő</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/list">Listázás</a></li>
			<li><a href="/add">Hozzáadás</a></li>
		</ul>
	</div>
</nav>