// Breakpoints
$breakpoint-desktop: 400px;

// Layout
$navbar-height: 48px;

$layer-backdrop: 100;
$layer-overlay: 200;

// Colors
$primary-color: hsl(226, 60%, 25%);
$background-color: hsl(0, 0%, 100%);
$text-color: hsl(226, 60%, 5%);
$highlight-color: hsla(0, 0, 100%, 0.1);