div.columns {
  display: flex;
  flex-wrap: wrap;
}

div.columns div {
  display: inline-block;
  width: calc(100% - 20px);
  height: 150px;
  background: #aa2222;
  margin: 10px;
}

@media screen and (min-width: 800px) {
  div.columns.three div {
    width: calc(33.33333% - 20px);
  }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  div.columns.three div {
    width: calc(50% - 20px);
  }
}
