<form method="post" action="/add">
    Hiba leirása: <textarea name="leiras"></textarea>
    Terem: 
    <select name="terem">
        <option>PC 1</option>
        <option>PC 2</option>
        <option>PC 3</option>
        <option>PC 4</option>
        <option>PC 5</option>
    </select>
    <input type="submit" value="Küldés">
</form>