<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hibabejelentő</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/add">Új hozzáadása</a></li>
                <li><a href="/list">Hibák megjelenitése</a></li>
                <li><a href="/search">Keresés</a></li>
            </ul>
        </nav>
        <main>
            {{{body}}}
        </main>
    </body>
</html>