.row {
  display: flex;
  flex-wrap: wrap;
}

/* default */
.row .column {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  border: solid black thick;
  background: yellow;
}

form label {
  display: block;
}

/* media query */
@media screen and (min-width: 500px) {
  .row .column {
    width: 50%;
    background: red;
  }

  form label {
    display: inline-block;
    width: 200px;
    text-align: right;
  }
}

@media screen and (min-width: 1000px) {
  .row .column {
    width: 25%;
    background: blue;
  }
}
