<div class="container">
    
    <fieldset>
      
      {{outlet}}
      
    </fieldset>
    
    <nav>
      <ul>
        <li>{{#link-to "index"}}STATS{{/link-to}}</li>
        <li>{{#link-to "inventory"}}INV{{/link-to}}</li>
        <li>{{#link-to "map"}}MAP{{/link-to}}</li>
        <li>{{#link-to "pickup"}}PICK SOMETHING UP{{/link-to}}</li>
      </ul>
    </nav>
    

</div>