* {
	/* nullázzuk az alapértelmezett értékeket */
	margin: 0;
	padding: 0;
}

#wrapper {
	/* position: relative -> így tudunk benne abszolút pozicionálni*/
	position: relative;
	width: 100%;
	clear: both;
	padding-top: 20px;
	overflow: hidden;
}

header {
	height: 100px;
	background-image: url('http://www.lorempixum.com/1024/100/nature');
	background-color: #000000;
	background-repeat: no-repeat;
	border-bottom: solid rgba(0, 0, 0, 0.2) 2px;
}

main {	
	margin-left: 250px;
	margin-right: 250px;
}

aside#left {
	/* bal oldali oldalsáv */
	/* fix 300px széles oldalsáv */
	width: 250px;
	float: left;
}

aside#right {
	/* jobb oldali oldalsáv */
	/* fix 200px széles oldalsáv */
	width: 250px;
	float: right;
}

div.box {
	width: 200px;
	margin: 20px;
	padding: 10px;
	background: forestgreen;
}

#kereses input {
	box-sizing: border-box;
	display: inline-block;
	height: 30px;
	border: none;
}

#kereses input:focus,
#kereses input:active {
	outline: none;
}

#kereses input[type="text"] {
	width: 150px;
}

#kereses input[type="submit"] {
	width: 30px;
	margin-left: -4px;
	background: #000000;
	color: #FFFFFF;
	background: #FFFFFF url('kereses.png') no-repeat center center;
	background-size: 25px;
	color: transparent;
}

footer {
	height: 50px;
	border-top: solid black 2px;
}

nav {
	/*display: block;
	background: #FF0000;
	padding: 10px;
	margin: 10px;
	width: 50%;
	box-sizing: border-box;*/
	color: indianred;
	text-transform: uppercase;
}

header h1 {
	/*display: block;
	background: #00FFFF;*/
	display: inline-block;
	padding: 35px 20px;
}

header h1:before {
	content: '';
	display: inline-block;
	width: 80px;
	height: 80px;
	background-image: url('http://www.lorempixum.com/80/80/people');
	float: left;
	margin-top: -25px;
	margin-right: 20px;
}

li {
	list-style: none;
	display: inline-block;
	position: relative;
}

li:hover {
	background: 
	rgba(255, 255, 255, 0.5);
}

nav ul {
	display: inline-block;
	position:absolute;
	top: 20px;
	right: 20px;
	padding: 0;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

nav ul li a {
	display: inline-block;
	padding: 20px;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 0 0 3px #000000, 0 0 3px #000000;
}

nav ul li ul  {
	z-index: 10000;
}

nav ul li:hover ul {
	display: block;
}

nav div.submenu {
	background: transparent;
	position: absolute;
	top: 59px;
	padding-top: 10px;
}

nav ul li ul { /* Almenü */
	display: none;
	position:relative;
	background: #555555;
}

nav ul li ul:before {
	content: '';
	width: 0;
	height: 0;
	border-bottom: 10px solid #555555;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	left: 10px;
	top: -10px;
}

nav ul li ul li { /* Almenü-elem*/
	width: 150px;
	padding: 10px;
}