@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap&subset=latin-ext");
@import "variables"; // SCSS Import
@import "helpers";
@import "utilities";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  color: $background-color;
  background: $primary-color;
  height: $navbar-height;
  display: flex;
  align-items: center;

  #menu-trigger {
    order: 1;
  }

  #logo {
    @include desktop {
      justify-self: left;
      order: 2;
      padding: 0 10px;
    }
  }

  #menu {
    @include desktop {
      order: 3;
    }
  }
}

#menu {
  background: $secondary-color;
  bottom: 0;
  left: 0;
  margin: 0;
  min-width: 200px;
  padding: 0;
  position: fixed;
  top: $navbar-height;
  transform: translateX(-100%);
  width: 50%;
  z-index: $layer-overlay;
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: translateX(0);
    box-shadow: 0 15px 15px $shadow-color;
  }

  li {
    display: block;
    list-style: none;

    a {
      align-items: center;
      color: $background-color;
      display: flex;
      padding: 10px 15px;
      text-decoration: none;

      &:hover {
        background: $highlight-color;
      }

      span {
        flex-grow: 1;
      }

      i {
        padding-left: 10px;
      }
    }
  }

  @include tablet {
    background: none;
    display: inline-block;
    position: static;
    margin-top: 3px;
    transform: translateX(0);
    width: 100%;

    li {
      display: inline-block;

      &:first-of-type {
        margin-left: 5px;
      }

      a {
        span {
          display: none;
        }

        i {
          padding: 0;
        }
      }
    }
  }

  @include desktop {
    li a {
      span {
        display: inline-block;
      }
      i {
        padding-left: 10px;
      }
    }
  }
}

#menu-toggle {
  background: none;
  border: none;
  color: $background-color;
  font-weight: bold;
  height: 35px;
  margin: 5px;
  width: 35px;

  @include desktop {
    display: none;
  }
}

main {
  padding: 10px 15px;

  h1 {
    margin: 0 0 15px 0;
    font-size: 24px;
  }
}

#backdrop {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: $navbar-height;
  z-index: $layer-backdrop;

  &.visible {
    display: block;
  }
}

#map {
  width: 300px;
  height: 300px;
}
