<mat-toolbar color="primary">
    Shopping List
    <span class="left">
        <button mat-button routerLink="/">Bevásárlólista</button>
        <button mat-button routerLink="/family">Családtagok</button>
    </span>
    <span class="right">
        <button *ngIf="!authService.isLoggedIn()" mat-button routerLink="/login">
            Bejelentkezés
        </button>
        <button *ngIf="authService.isLoggedIn()" mat-button
                (click)="authService.logout()">
            Kijelentkezés
        </button>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>