<h1>Az alkalmazásról</h1>
<br><br>
<blockquote>
    Ide jönnek a mély gondolatok az alkalmazásunkról
</blockquote>
<br><br>
<div class="panel panel-default">
    <div class="panel-body">
        <p>Ez az alkalmazás arról szól, hogy...</p>
    </div>
</div>