<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My App</title>
		<link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">
	</head>
	<body>
		{{>menu}}
		<div class="container">
			{{>messages}}
			{{{body}}}
		</div>
	</body>
</html>